
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/.playwright-user-data/
auth.json

venv/
old-test-results/

*.mp3
*.webm
*.mp4
*.txt
*.log

chrome-profile/
recorder-waste/
*waste*/
*waste*
